CompileFlags:
  Add: [
    -Wall,
    -Wextra,
    -Wpedantic,
    -std=c99,
  ]
Diagnostics:
  UnusedIncludes: Strict
---
If:
  PathMatch: .+\.h
CompileFlags:
  Add: [
    -xc,
  ]
---
If:
  PathMatch: flex_buf.h
CompileFlags:
  Add: -DQML_FLEXBUF_IMPLEMENTATION
